# Hero of Pymoli

### Conclusions:

* Based on the 'Gender Demographics' by gender, male players consisted of over 85% of the consumer base of the fantasy game Heroes of Pymoli. They were more likely to purchase from the optional items inventory.

* Although female players were outnumbered and less likely to purchase an optional item, they spent on average 40 cents more than their leading male counterparts. 

* A majority or 63.37% of the players were from the age groups 15-19 and 20-24, and players ages 15-29 make up approximately three-quarters of the total players of Heroes of Pymoli.

* The two most popular and profitable items were 'Final Critic' and 'Oathbreaker, Last Hope of the Breaking Storm.'

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df_purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
df_purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [3]:
total_players = len(df_purchase_data["SN"].value_counts())
print(total_players)

576

In [4]:
players = pd.DataFrame({"Total Players":[total_players]})
players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Purchasing Analysis (Total)
#Unique Items (total)
number_unique_items = len(df_purchase_data["Item ID"].unique())

#Average Price (total)
average_price = round(df_purchase_data["Price"].mean(), ndigits=2)

#Purchase count (total)
number_purchases = df_purchase_data["Purchase ID"].count()

#Sum of Price for Total Revenue 
total_revenue = df_purchase_data["Price"].sum()

In [6]:
#Display the summary DataFrame by outputing above calculations

df_summary = pd.DataFrame({"Number of Unique Items":[number_unique_items], 
                           "Average Price":[average_price], 
                           "Number of Purchases":[number_purchases], 
                           "Total Revenue":[total_revenue]})

#Print DataFrame
df_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [7]:
# format average price and total revenue

df_summary["Total Revenue"] = df_summary["Total Revenue"].map("${:,}".format)
df_summary["Average Price"] = df_summary["Average Price"].map("${:.2f}".format)

df_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
type(df_purchase_data["Gender"])

pandas.core.series.Series

In [9]:
#Extract screen names and gender columns from df_purchase_data

df_gender_dem = df_purchase_data[["SN", "Gender"]]
df_gender_dem

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
775     Aethedru70  Female
776         Iral74    Male
777     Yathecal72    Male
778        Sisur91    Male
779      Ennrian78    Male

[780 rows x 2 columns]

In [10]:
#Remove repeated screen names

df_gender_dem = df_gender_dem.drop_duplicates()

In [11]:
#Create a DataFrame with the value counts of the 'Gender' column

df_gender_count = pd.DataFrame(df_gender_dem["Gender"].value_counts())
df_gender_count

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [12]:
#Rename the 'Gender' column to 'Total Count'

df_gender_count = df_gender_count.rename(columns={"Gender":"Total Count"})

In [13]:
#Check if the column name was changed

df_gender_count

                       Total Count
Male                           484
Female                          81
Other / Non-Disclosed           11

In [14]:
#Calculate the Percentage of Players by Gender and put in a DataFrame

players_percentage = pd.DataFrame(df_gender_dem["Gender"].value_counts() / len(df_gender_dem)) *100
players_percentage

                          Gender
Male                   84.027778
Female                 14.062500
Other / Non-Disclosed   1.909722

In [15]:
#Change column name from 'Gender' to 'Percentage of Players'

players_percentage = players_percentage.rename(columns={"Gender":"Percentage of Players"})

In [16]:
#Use .concat to combine the two DataFrames and format

result = pd.concat([df_gender_count, players_percentage], ignore_index=False, axis=1)
result["Percentage of Players"] = result["Percentage of Players"].map("{:.2f}%".format)

result
#sort the table to match the proper format

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
# The below each broken by gender
  # Purchase Count
  # Average Purchase Price
  # Total Purchase Value
  # Average Purchase Total per Person by Gender

In [18]:
#Use .groupby to group values by 'Gender'

gender_group = df_purchase_data.groupby("Gender", as_index=True)

In [19]:
#Total purchases by gender
purchase_count = gender_group["Purchase ID"].count()

#Average purchase price by gender
avg_purchase_price = gender_group["Price"].mean()

#Total purchase value by gender
total_purchase_value = gender_group["Price"].sum()

#Average purchase total per person by gender
avg_total_purchase = total_purchase_value / (gender_group.nunique()["SN"])

In [20]:
#Create a DataFrame with the outputs of the above calculations

df_purchase_analysis = pd.DataFrame({"Purchase count": purchase_count, 
                                     "Average Purchase Price": avg_purchase_price, 
                                     "Total Purchase Value": total_purchase_value, 
                                     "Avg Total Purchase per Person": avg_total_purchase})

In [21]:
#Rename index to 'Gender' and print the Purchase Analysis by Gender DataFrame

df_purchase_analysis.index.name = "Gender"
df_purchase_analysis

,Purchase count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [22]:
#Style and format the Purchase Analysis by Gender DataFrame and print DataFrame

df_purchase_analysis["Average Purchase Price"] = df_purchase_analysis["Average Purchase Price"].map("${:.2f}".format)
df_purchase_analysis["Avg Total Purchase per Person"] = df_purchase_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
df_purchase_analysis["Total Purchase Value"] = df_purchase_analysis["Total Purchase Value"].map("${:,.2f}".format)
df_purchase_analysis

,Purchase count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
# The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  # Purchase Count
  # Average Purchase Price
  # Total Purchase Value
  # Average Purchase Total per Person by Age Group

In [24]:
#Create bins and group names

bins= [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 500000]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [25]:
#Use pd.cut to create a new column 'Age Group' with the bin values

df_purchase_data["Age Group"] = pd.cut(df_purchase_data["Age"], bins, labels=group_names, include_lowest=True)
df_purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [26]:
#Group by 'Age Group' for Age Demographics

age_group = df_purchase_data.groupby("Age Group")
age_group

In [27]:
#total count by age using .nunique which counts distinct observations over requested axis
count_by_age = age_group["SN"].nunique()

In [28]:
#Print count_by_age

count_by_age

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [29]:
# Calculate percentage by age group
percentage_age_group = (count_by_age / total_players) * 100

In [30]:
#Print percentage_age_group

percentage_age_group

Age Group
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [31]:
#Create an Age Demographics DataFrame with the above calculations and print

df_age_demographics = pd.DataFrame({"Total Count": count_by_age, 
                                    "Percentage of Players": percentage_age_group})
df_age_demographics

           Total Count  Percentage of Players
Age Group
<10                 17               2.951389
10-14               22               3.819444
15-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-34               52               9.027778
35-39               31               5.381944
40+                 12               2.083333

In [32]:
#Format Age Deographics DataFrame and print again

df_age_demographics["Percentage of Players"] = df_age_demographics["Percentage of Players"].map("{:.2f}%".format)

df_age_demographics

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
#bins= [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 500000]
#group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [34]:
#purchase count grouped by Age Group
purchase_count_age = age_group["Purchase ID"].count()

#average purchase price grouped by Age Group
average_purchase_price_age = age_group["Price"].mean()

#total purchase value grouped by Age Group
total_purchase_value_age = age_group["Price"].sum()

#avg total purchase per person grouped by Age Group
avg_total_purchase_age = total_purchase_value_age / (age_group["SN"].nunique())

In [35]:
#Create a DataFrame using the above calculations

df_age_purchase_analysis = pd.DataFrame({"Purchase Count": purchase_count_age, 
                                         "Average Purchase Price": average_purchase_price_age, 
                                         "Total Purchase Value": total_purchase_value_age, 
                                         "Avg Total Purchase per Person":avg_total_purchase_age})

In [36]:
#Rename index to 'Age Ranges' and print DataFrame

df_age_purchase_analysis.index.name = "Age Ranges"
df_age_purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [37]:
#Format the DataFrame and print again
df_age_purchase_analysis["Average Purchase Price"] = df_age_purchase_analysis["Average Purchase Price"].map("${:.2f}".format)
df_age_purchase_analysis["Avg Total Purchase per Person"] = df_age_purchase_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
df_age_purchase_analysis["Total Purchase Value"] = df_age_purchase_analysis["Total Purchase Value"].map("${:,.2f}".format)

df_age_purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [38]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  # SN
  # Purchase Count
  # Average Purchase Price
  # Total Purchase Value

In [39]:
#Group by screen names

screen_names_grouped = df_purchase_data.groupby("SN")

In [40]:
#purchase count for top senders
purchase_count_spenders = screen_names_grouped["Purchase ID"].count()

#average purchase price for top senders
average_purchase_price_spenders = screen_names_grouped["Price"].mean()

#total purchase value for top senders
total_purchase_value_spenders = screen_names_grouped["Price"].sum()

In [41]:
#Create a DataFrame with the above calculations grouped by Screen Names

df_top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spenders, 
                                "Average Purchase Price": average_purchase_price_spenders, 
                                "Total Purchase Value": total_purchase_value_spenders})

In [42]:
#Sort the Top Spenders DataFrame in decending order

df_top_spenders = df_top_spenders.sort_values(["Total Purchase Value"], ascending=False)

In [43]:
#Rename index to 'SN' and print the top 5 spenders

df_top_spenders.index.name = "SN"
df_top_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [44]:
#Format the Top Spenders DataFrame and print the top 5 spenders again
df_top_spenders["Average Purchase Price"] = df_top_spenders["Average Purchase Price"].map("${:.2f}".format)
df_top_spenders["Total Purchase Value"] = df_top_spenders["Total Purchase Value"].map("${:.2f}".format)

df_top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
# Identify the 5 most popular items by purchase count, then list (in a table):
  # Item ID
  # Item Name
  # Purchase Count
  # Item Price
  # Total Purchase Value

In [46]:
#Retrieve the Item ID, Item Name, and Item Price columns

df_item_columns = df_purchase_data[["Item ID", "Item Name", "Price"]]
df_item_columns.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [47]:
#Group the new DataFrame by 'Item ID' and 'Item Name'

item_columns_grouped = df_item_columns.groupby(["Item ID", "Item Name"])

In [48]:
#purchase count grouped by Item ID and Item Name
purchase_count_items = item_columns_grouped["Price"].count()

#total purchase value grouped by Item ID and Item Name
total_purchase_price_items = item_columns_grouped["Price"].sum()

#item price grouped by Item ID and Item Name
total_purchase_price = total_purchase_price_items / purchase_count_items

In [49]:
#Create a DataFrame of popular items using the above calculations

df_popular_items = pd.DataFrame({"Purchase Count": purchase_count_items, 
                                "Item Price": total_purchase_price, 
                                "Total Purchase Value": total_purchase_price_items})

In [50]:
df_popular_items.index.name = "Item ID"

df_popular_items = df_popular_items.sort_values(["Purchase Count"], ascending=False)

df_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [51]:
#Format Popular Items DataFrame and print top 5 popular items again

#Format for Popular Items calculated below Most Profitable Items

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [52]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
  # Item ID
  # Item Name
  # Purchase Count
  # Item Price
  # Total Purchase Value

In [53]:
#Sort the Popular Items DataFrame by 'Total Purchase Value'
df_profitable_items = df_popular_items.sort_values(["Total Purchase Value"], ascending=False)

#Format the Popular Items DataFrame
df_profitable_items["Item Price"] = df_profitable_items["Item Price"].map("${:.2f}".format)
df_profitable_items["Total Purchase Value"] = df_profitable_items["Total Purchase Value"].map("${:.2f}".format)

#Print top 5 profitable items
df_profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

In [54]:
#Format Popular Items DataFrame and print top 5 popular items again

df_popular_items["Item Price"] = df_popular_items["Item Price"].map("${:.2f}".format)
df_popular_items["Total Purchase Value"] = df_popular_items["Total Purchase Value"].map("${:.2f}".format)

df_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77